{% set bem_block = bem_block ?: ('view-' ~ view.storage.id() ~ '-' ~ view.current_display)|clean_class %}
{% set bem_element = bem_block ~ '__row' %}
{% if view.display_handler.getPlugin('style').options.grouping %}
  <div class="{{ bem_block }}__rows">
    {% if title %}
      <h3 class="{{ bem_block }}__rows-title">{{ title }}</h3>
    {% endif %}
{% endif %}
{% block content %}
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? bem_element,
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
{% endblock %}
{% if view.display_handler.getPlugin('style').options.grouping %}
  </div>
{% endif %}
